@import scala.collection.mutable
@(articles: Form[ArticleFormModel], chapters: Form[ChapterFormModel], art: Seq[Article], chap: Seq[Chapter], treeRoots: mutable.MutableList[TreeNode[Chapter]])(implicit messages:Messages,request: RequestHeader, messagesProvider: MessagesProvider)



@main("articles & chapters database") {

    @helper.form(action = routes.Application.insertArticle()) {
        @helper.inputText(articles("shortName"))
        @helper.inputText(articles("fullName"))
        @helper.inputText(articles("text"))
        @helper.inputText(articles("chapterId"))

        <button type="submit">Create article</button>
    }

    @helper.form(action = routes.Application.insertChapter()) {
        @helper.inputText(articles("shortName"))
        @helper.inputText(articles("fullName"))
        @helper.inputText(articles("text"))
        @helper.inputText(articles("parentId"))

        <button type="submit">Create chapter</button>
    }

@for(t <- treeRoots){
    <ul>@t.getData().shortName</ul>
}


@*<ul>@iteration(0,1, art, chap)</ul>*@


}









