@(articles: Form[ArticleFormModel], chapters: Form[ChapterFormModel], art: Seq[Article], chap: Seq[Chapter])(implicit messages:Messages,request: RequestHeader, messagesProvider: MessagesProvider)



@main("articles & chapters database") {

    @helper.form(action = routes.Application.insertArticle()) {
        @helper.inputText(articles("shortName"))
        @helper.inputText(articles("fullName"))
        @helper.inputText(articles("text"))
        @helper.inputText(articles("chapterId"))

        <button type="submit">Create article</button>
    }

    @helper.form(action = routes.Application.insertChapter()) {
        @helper.inputText(articles("shortName"))
        @helper.inputText(articles("fullName"))
        @helper.inputText(articles("text"))
        @helper.inputText(articles("parentId"))

        <button type="submit">Create chapter</button>
    }

    @buildTree()
}


@buildTree(rootId: Int = 0) = {

    <ul>
    @for(ch <- chap) {
        @if((rootId == ch.parentId) || ((rootId == 0)&&(ch.id == null))) {
            <li>@ch.shortName @buildTree(ch.id)</li>
            @for(a <- art) {
                @if((a.chapterId == rootId)) {
                    <li>@a.shortName</li>
                }
            }
        }

    }
    </ul>

}