@(articles: Seq[Article], chapters: Seq[Chapter])

@main("articles & chapters database") {
<div>
  <div id="articles">
    <h2>Insert an article here:</h2>

    <form action="/insert/article" method="POST">
      <input shortName="shortName" type="text" placeholder="Short name"/>
      <input fullName="fullName" type="text" placeholder="Full name"/>
      <input text="text" type="text" placeholder="text"/>
      <input parentId="parentId" type="number" placeholder="parentId"/>
      <input type="submit"/>
    </form>

    <h2>Previously inserted cats:</h2>
    <table>
      <tr><th>shortName</th><th>fullName</th><th>text</th></tr>
      @for(a <- articles){
      <tr><td>@a.shortName</td><td>@a.fullName</td><td>@a.text</td></tr>
      }
    </table>
  </div>

  <div id="dogs">
    <h2>Insert chapter here:</h2>

    <form action="/insert/chapter" method="POST">
      <input shortName="shortName" type="text" placeholder="Short name"/>
      <input fullName="fullName" type="text" placeholder="Full name"/>
      <input text="text" type="text" placeholder="text"/>
      <input parentId="parentId" type="number" placeholder="parentId"/>
      <input type="submit"/>
    </form>

    <h2>Previously inserted chapters:</h2>
    <table>
        <tr><th>shortName</th><th>fullName</th><th>text</th></tr>
      @for(c <- chapters){
        <tr><td>@c.shortName</td><td>@c.fullName</td><td>@c.text</td></tr>
      }
    </table>
  </div>
</div>
}
